<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SNMP Monitoring</title>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>

    <style>
        {% include "styles.css" %}
    </style>

</head>
<body>
<div class="working-space-wrapper">
    <div id="device-list-div" class="block-wrapper">
        <h2>Список устройств</h2>
        {% include "device-list.html" %}
    </div>
    <div id="monitoring-panel-div" class="block-wrapper">
        <h2>Сведения об устройствах</h2>
        {% include "panel.html" %}
    </div>
    <div class="block-wrapper">
        <form hx-post="/post/new-device" hx-swap="none">
            <h2>Добавить устройство</h2>
            <label for="new-device-address">IP-адрес</label>
            <input id="new-device-address" name="device_name" placeholder="0.0.0.0"/>
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
<div id="information-div" class="block-wrapper">
    <h3>Информация</h3>
</div>
</body>
</html>