<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SNMP Monitoring</title>
</head>
<body>
    <h2>Сведения об устройствах</h2>
    {% for result in monitoring_result %}
    <div>
        <p>IP адрес хоста: {{ result }}</p>
        <p>Uptime: {{ result["uptime"] }}</p>
        <p>Timestamp: {{ result.timestamp }}</p>
    </div>
    {% endfor %}

    <p>Весь результат: <br>{{monitoring_result}}</p>
</body>
</html>