body {
    background-color: lightgray;
}

.working-space-wrapper {
    flex-direction: row;
    justify-content: flex-start;
    display: flex;
}

.block-wrapper {
    background-color: white;
    margin: 10px;
    padding: 5px;
}